<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <p>{{pollDetailsCtrl.poll.title}}</p>
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label for="votefor">I'd like to vote for...: </label>
                  <select id="votefor" class="form-control" ng-model="pollDetailsCtrl.votefor">
                    <option value="" disabled selected hidden>Choose an option...:</option>
                    <option ng-repeat="(option,value) in pollDetailsCtrl.poll.results" ng-value="option">{{option}}
                    </option>
                    <option ng-show="pollDetailsCtrl.getCurrentUser()._id" value="===custom-option">I'd like a custom
                      option
                    </option>
                  </select>
                  <div class="form-group" ng-show="pollDetailsCtrl.votefor === '===custom-option'">
                    <label for="custom-option">Vote with my own option: </label>
                    <input id="custom-option" type="text"
                           class="form-control"
                           ng-model="pollDetailsCtrl.voteforCustom"
                           ng-trim="true">
                  </div>
                </div>
                <input class="btn btn-primary btn-block" value="Submit" ng-show="pollDetailsCtrl.getCurrentUser()._id"
                       ng-click="pollDetailsCtrl.submitVote()">

                <a ng-href="{{pollDetailsCtrl.absurl}}" class="btn  btn-info btn-block">Share on Twitter</a>

                <button class="btn btn-block btn-danger" ng-click="pollDetailsCtrl.removePoll()"
                        ng-show="pollDetailsCtrl.isPollOwner">Remove this Poll
                </button>

              </div>


            </div>
          </div>
        </form>

      </div>
      <div class="col-md-4">
        <canvas class="chart chart-doughnut" chart-data="pollDetailsCtrl.chartData"
                chart-labels="pollDetailsCtrl.chartLabels"
                chart-legend="true"></canvas>
      </div>
    </div>
  </div>
</div>
